* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
}

div > img {
    height: 5vh;
}

#logo {
    height: 35vh;
}

.nav {
    width: 27vh;
    height: 5vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 20px;
    border-color: #A18A7D;
    color: #8b5a3e;
    text-decoration: none;
}

.quebra {
    display: flex;
    align-items: center;
    text-align: center;
}

#login {
    padding: 9vh;   
}

@media screen and (max-device-width: 400px) {
    .quebra {
        display: flex;
        flex-direction: column;
    }
    .nav {
        font-size: 12px;
    }
}